In [10]:
import pandas as pd
import numpy as np

data = pd.read_csv("scoring.csv")

In [12]:
df = pd.DataFrame(data)
df.drop_duplicates()
print(df.dtypes)

Date                                                   int64
Vehicle Category                                      object
GVWR Class                                            object
Fuel Type                                             object
Model Year                                           float64
Fuel Technology                                       object
Electric Mile Range                                   object
Number of Vehicles Registered at the Same Address     object
Region                                                object
Vehicle Population                                     int64
dtype: object

In [13]:
missing_model_year = df["Model Year"].isna().sum()
print(f"Total missing 'Model Year' values: {missing_model_year}")

Total missing 'Model Year' values: 106

In [16]:
df = df.dropna(subset=["Model Year"]).sort_values(by="Date", ascending=True).reset_index(drop=True)
df["Model Year"] = df["Model Year"].astype(int)

In [32]:
df = df.drop(columns= "Region", axis = 1)

In [30]:
categorical_cols = ["Vehicle Category", "Fuel Type", "Fuel Technology", "Electric Mile Range"]
for col in categorical_cols:
    df[col] = df[col].astype("category")

In [33]:
df.dtypes

Date                                                    int64
Vehicle Category                                     category
GVWR Class                                             object
Fuel Type                                            category
Model Year                                              int64
Fuel Technology                                      category
Electric Mile Range                                  category
Number of Vehicles Registered at the Same Address      object
Vehicle Population                                      int64
dtype: object

In [34]:
df["Number of Vehicles Registered at the Same Address"].apply(lambda x: repr(x)).unique()

array(["'â‰¥4'", "'1'", "'2'", "'3'"], dtype=object)

In [35]:
df["Number of Vehicles Registered at the Same Address"] = df["Number of Vehicles Registered at the Same Address"].replace({'1': 1, '2': 2, '3': 3, "\u22654": 4, "Unknown": -1})

df["GVWR Class"] = df["GVWR Class"].replace({"Not Applicable": -1, "Unknown": -1})

In [36]:
df.isnull().sum()

Date                                                 0
Vehicle Category                                     0
GVWR Class                                           0
Fuel Type                                            0
Model Year                                           0
Fuel Technology                                      0
Electric Mile Range                                  0
Number of Vehicles Registered at the Same Address    0
Vehicle Population                                   0
dtype: int64

In [38]:
df.to_csv("scoring_cleaned_data.csv", index=False)